@import url("style.css");

body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Header */
.logo {
  justify-content: center;
  width: 100%;
}

/* Main */
main .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
